body{
    background: #333 url(../Img/fondo-pantalla.jpg);
    background-size: cover;
    font: 8pt Verdana, Geneva, Arial;
    color: white;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

#contenedor {
    text-align: left;
    width: 800px;
    background-color: white;
    color: #666;
    margin: auto;
}

#cabecera{ 
    height: 100px;
    width: 800px;
}
   
#navegacion {
    background: black;
    padding: 3px 10px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    text-align: center;
}

a.navegacion-nav {
    color: white;
    display: table-cell;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    width: 180px;
}

a.navegacion-nav:hover {
    background: white;
    color: black;
}

#main {
    float: left;
    width: 600px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
}

#main h1 {
    text-align: center;
}

#main figure {
    text-align: center;
}
#main p {
    text-align: justify;
    margin: 0 10px;
}

#lateral {
    float: right;
    background-color: black;
    width: 180px;
}