section#home {
    width: 100vw;
    height: 100vh;
    background-image: url('../Img/Fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
section#about {
    width: 100vw;
    height: 100vh;
    background-image: url('../Img/Fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
section#contact {
    width: 100vw;
    height: 100vh;
    background-image: url('../Img/Fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#home h1{
    border-radius: 10px 10px;
}